<h2>New Student</h2>
<form action="/students/new" method="POST" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="title">Title</label>
            <input name="course[title]" type="text" >
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
             <label for="courses">Course</label>
                 <% Course.all.each do |i|  %>
                 <label> <%= i.name %></label>
                 <input type="radio" name="course[instructor_id]" value="<%= i.id %>"> 
             <% end %>
         </div>

      <div class="pure-controls">
        <input type="submit" class="button-submit pure-button" value="New Student" />
      </div>
  </fieldset>
</form>
