  <div id="main">
      <h3>Students</h3>
      <div id="table-wrapper">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% Student.all.each do |s|  %>
              <tr>
                <td>
                  <a href="/students/<%= s.slug %>"><%= s.name %></a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
