<h1>Sign up as a new student</h1>

<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Email (this will be your login name): <input type="text" name="email"></p>
  <p>Password: <input type="password" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form
