<div id="outer" style="width:100%">
  <h1 align="center">Welcome to the School Registration App!</h1>
  <div id="inner">
    <form method="post" action="/" class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Log in</legend>

            <label for="email">Email</label>
            <input id="email" type="email"  name="email" placeholder="Email">
            <span class="pure-form-message">This is a required field.</span>

            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Password">

            <button type="submit" value="submit" class="pure-button pure-button-primary">Sign in</button>
        </fieldset>
    </form>
    <br />
    <a href="/signup">
      <button class="button-xlarge pure-button">
        Sign up
      </button>
    </a>
  </div>
</div>
