<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <style>
      .custom-restricted-width {
        /* To limit the menu width to the content of the menu: */
        display: inline-block;
        float: left;
        /* Or set the width explicitly: */
        /* width: 10em; */
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div class="pure-menu custom-restricted-width">
          <span class="pure-menu-heading">Menu</span>

          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
              <li class="pure-menu-item"><a href="/courses" class="pure-menu-link">All Courses</a></li>
              <li class="pure-menu-item"><a href="/instructors" class="pure-menu-link">All Instructors</a></li>
              <li class="pure-menu-item"><a href="/students" class="pure-menu-link">All Students</a></li>
              <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
          </ul>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
